@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Poppins:wght@100&family=Quicksand:wght@300;400;500;600;700&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #2490eb;
  --primary-dark-color: #14457b;
  --dark-color: #18100f;
  --secondary-color: #666666;
  --grey-color: #f4f6f9;
  --white-color: #ffffff;
  --body-fonts: "Montserrat", sans-serif;
  --title-fonts: "Quicksand", sans-serif;

  --brand: #2490eb;
  --dark: #092032;
  --body: #516171;
  --border: rgba(0, 0, 0, 0.08);
  --shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}
::-moz-selection {
  text-shadow: none;
  background: var(--primary-color);
  color: #fff;
}
::-moz-selection {
  text-shadow: none;
  background: var(--primary-color);
  color: #fff;
}
::selection {
  text-shadow: none;
  background: var(--primary-color);
  color: #fff;
}

body {
  font-family: var(--primary-font);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75rem;
  background: #f4f6f9;
  color: var(--text-black);
  overflow-x: hidden;
  font-family: var(--body-fonts);
}

/* Custom CSS */

a,
a:hover {
  text-decoration: none;
}
p {
  margin: 0;
}
.btn-default {
  background: var(--primary-color);
  border-color: var(--primary-color);
  padding: 0.8rem 1.5rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--white-color);
  letter-spacing: 0.2px;
}
.btn-default:hover {
  color: var(--grey-color);
  background: var(--primary-dark-color);
  border-color: var(--primary-dark-color);
}

/* === Top Wrap === */
#top_wrap {
  background-color: var(--primary-dark-color);
  color: var(--grey-color);
  font-size: 14px;
}
#top_wrap ul {
  display: flex;
  margin: 0;
  list-style: none;
  padding: 0;
}
#top_wrap ul a {
  text-decoration: none;
  color: var(--white-color);
  font-family: var(--title-fonts);
  font-weight: 600;
}

#top_wrap .top_contact ul li {
  padding: 10px 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}
#top_wrap .top_contact ul li:last-child {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

#top_wrap .top_social ul {
  display: flex;
  justify-content: end;
  align-items: center;
}
#top_wrap .top_social ul li {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
#top_wrap .top_social ul li:last-child {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
#top_wrap .top_social ul li a {
  padding: 10px 20px;
  transition: all 0.5s;
}
#top_wrap .top_social ul li a:hover {
  color: var(--grey-color);
  background-color: var(--primary-color);
}

/* === Header === */
#header {
  /* box-shadow: 0 0.125rem 0.675rem rgb(0 0 0 / 5%); */
  /* padding: 14px 0; */
  background-color: var(--white-color);
}
.fixed-top {
  top: -40px;
  transform: translateY(40px);
  transition: transform 0.3s;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 15px 0px rgb(0 33 85 / 10%);
  -moz-box-shadow: 0px 5px 15px 0px rgba(0, 33, 85, 0.1);
  box-shadow: 0px 5px 15px 0px rgb(0 33 85 / 10%);
}

#header .navbar-brand img {
  max-width: 350px;
}
#header .navbar-nav {
  display: flex;
  align-items: center;
}

#header .nav-item button {
  transition: 0.5s all;
  position: relative;
  width: auto;
  background: var(--primary-color);
  color: var(--white-color);
  letter-spacing: 0.04em;
  font-family: var(--title-fonts);
  font-size: 14px;
  font-weight: 600;
  padding: 12px 30px;
  text-transform: uppercase;
  line-height: 2;
  vertical-align: middle;
  border: none;
  display: inline-block;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#header .nav-item button:hover {
  background: #000;
  color: #fff;
  border: none;
}
#header .nav-item {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  color: var(--dark-color);
  /* line-height: 90px; */
  font-weight: 400;
  font-family: var(--title-fonts);
}

#header .dropdown-item:focus,
.dropdown-item:hover {
  color: var(--grey-color);
  background-color: var(--primary-color);
}

#header .navbar-nav .nav-item .nav-link {
  color: #18100f;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 22px;
  font-family: var(--title-fonts);
}
#header .navbar-nav .nav-item .nav-link:hover,
#header .navbar-nav .nav-item .nav-link.active {
  color: var(--primary-color);
}
#header .navbar-toggler-icon {
  width: unset;
  height: unset;
  color: var(--primary-color);
  font-size: 1.6rem;
}
#header .navbar-toggler:focus {
  box-shadow: none;
}

/* Dropdown */
#header .dropdown-menu {
  border: none;
  border-radius: 0px;
}
/* === Home Section === */
.hero-slider .owl-prev,
.hero-slider .owl-next {
  background-color: rgba(255, 255, 255, 0.5) !important;
  width: 50px !important;
  height: 50px !important;
  display: block;
  display: grid;
  place-items: center;
  color: #fff !important;
  border-radius: 100px;
  line-height: 0;
  border-radius: 0px !important;
  position: absolute;
  top: 50%;
  font-weight: 600 !important;
  font-size: 32px !important;
  transition: all 0.4s ease;
  margin-top: -30px !important;
}

.owl-prev {
  left: 0%;
}
.owl-next {
  right: 0%;
}

.hero-slider .owl-prev:hover,
.hero-slider .owl-next:hover {
  background-color: var(--brand) !important;
}

.owl-dot.active span {
  background-color: var(--brand) !important;
}

/* slide */
.slide {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.slide1 {
  background: linear-gradient(to right, rgba(255 255 255), rgba(0, 0, 0, 0)),
    url(../images/slider/bg_banner1.jpg);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

.slide2 {
  background: linear-gradient(to right, rgba(255 255 255), rgba(0, 0, 0, 0)),
    url(../images/slider/bg_banner2.jpg);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

.slide .display-3 {
  text-transform: uppercase;
  color: #fff;
}

/* === Inner Slider === */
.slide .inner-slide span.sub-title {
  letter-spacing: 0.04em;
  font-family: var(--title-fonts);
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  position: relative;
  text-transform: uppercase;
  color: var(--primary-color);
  background: #d3e9fb;
  padding: 4px 8px;
  margin: 0 0 10px;
}
.slide .inner-slide h5.title {
  font-weight: 600;
  font-size: 3.8rem;
  line-height: 74px;
  z-index: 9;
  color: var(--dark-color);
  padding: 0;
  margin: 0 0;
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: var(--title-fonts);
}
.slide .inner-slide p {
  font-weight: 500;
  color: var(--secondary-color);
  line-height: 2rem;
}
.slide .inner-slide a.mybtn {
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
  color: #fff;
  margin-top: 26px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 3px;
  transition: 0.5s all;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.slide .inner-slide a.mybtn i {
  margin-left: 5px;
}
.slide .inner-slide a.mybtn:hover {
  background-color: var(--primary-dark-color);
  border: 1px solid var(--primary-dark-color);
}
/* ==== Services ==== */
#features {
  position: relative;
  top: -75px;
  width: 100%;
  /* height: 300px; */
  background-color: transparent;
  z-index: 999;
}

#features .service_item {
  background-color: var(--primary-color);
  color: var(--grey-color);
  width: 100%;
  height: 100%;
  padding: 2rem;
  margin: 0 15px;
  position: relative;
  border-radius: 5px;
  transition: 0.6s ease-in-out;
}
#features .service_item:hover .bg_icon {
  right: 15px;
}
#features .active {
  background-color: var(--primary-dark-color);
  color: var(--grey-color);
}
#features .service_item .icon {
  margin-bottom: 2rem;
  opacity: 0.8;
}
#features .service_item .icon img {
  max-width: 95px;
  margin-top: 10px;
}
#features .service_item .bg_icon {
  position: absolute;
  top: 20px;
  right: 0px;
  opacity: 0.3;
  transition: 0.6s ease-in-out;
}
#features .service_item .bg_icon img {
  max-width: 90px;
}
#features .service_item h2.title {
  font-size: 1.7rem;
  margin-bottom: 15px;
  color: var(--white-color);
  font-family: var(--title-fonts);
  font-weight: 600;
  letter-spacing: 0.1px;
}
#features .service_item p {
  font-size: 1rem;
  margin-bottom: 15px;
  line-height: 2rem;
}
#features .service_item .phone {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
#features .service_item .phone i {
  width: 45px;
  height: 45px;
  background-color: #fff;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  border-radius: 50%;
  padding: 6px;
  font-size: 1.1rem;
}
#features .service_item .phone span {
  font-size: 1.6rem;
  font-weight: 600;
  font-family: var(--title-fonts);
}
#features .service_item a.btn {
  text-transform: uppercase;
  transition: 0.5s ease-in-out;
}
#features .service_item a.btn:hover {
  background-color: #000;
  border: 1px solid #000;
}

#features table {
  width: 100%;
}
#features table tr {
  border-bottom: 1px solid #ffffff29;
}
#features table tr td {
  padding: 6px;
}
#features table tr td:last-child {
  text-align: right;
}

/* === About Us === */
#about-us {
  position: relative;
  /* top: 75px; */
  padding: 4.6rem;
  margin-bottom: 6rem;
}
#about-us .about-detail {
  padding-left: 30px;
}
#about-us .about-detail span.sub-title {
  letter-spacing: 0.04em;
  font-family: var(--title-fonts);
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  position: relative;
  text-transform: uppercase;
  color: var(--primary-color);
  background: #d3e9fb;
  padding: 4px 8px;
  margin: 0 0 10px;
}
#about-us .about-detail h5.title {
  font-weight: 600;
  font-size: 42px;
  line-height: 56px;
  z-index: 9;
  color: var(--dark-color);
  padding: 0;
  margin: 0 0;
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
}
#about-us .about-detail p {
  color: var(--secondary-color);
}
#about-us .about-detail ul {
  margin-top: 40px;
  color: #000;
}
#about-us .about-detail ul li {
  line-height: 45px;
  font-weight: 600;
  color: var(--secondary-color);
}

/* === Facilities === */
#facilities {
  padding: 4.6rem;
  background-color: var(--white-color);
}
#facilities .header-sec {
  text-align: center;
  padding: 3rem;
}
#facilities .header-sec span.sub-title {
  letter-spacing: 0.04em;
  font-family: var(--title-fonts);
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  position: relative;
  text-transform: uppercase;
  color: var(--primary-color);
  background: #d3e9fb;
  padding: 4px 8px;
  margin: 0 0 10px;
}
#facilities .header-sec h5.title {
  font-weight: 600;
  font-size: 42px;
  line-height: 56px;
  z-index: 9;
  color: var(--dark-color);
  padding: 0;
  margin: 0 0;
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
}
#facilities .facilities_item {
  background-color: #f4f6f9;
  padding: 25px;
  overflow: hidden;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

#facilities .facilities_item .facilities_img {
  width: 100%;
  height: 366px;
  overflow: hidden;
  border-radius: 3px;
}
#facilities .facilities_item .facilities_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  transition: all 0.6s;
}
#facilities .facilities_item:hover .facilities_img img {
  transform: scale(1.1);
}

#facilities .facilities_item:hover .icon img {
  transform: rotateY(180deg);
}

#facilities .facilities_item .facilities-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
#facilities .facilities_item .facilities-info .info-text {
  margin-top: 20px;
}
#facilities .facilities_item .facilities-info .info-text span.sub-title {
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.9rem;
}
#facilities .facilities_item .facilities-info .info-text a {
  color: #000;
}
#facilities .facilities_item .facilities-info .info-text a h5.facilities-title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 6px;
}

/* icon */
#facilities .facilities_item .facilities-info .icon {
  font-size: 2rem;
  color: var(--primary-color);
}
#facilities .facilities_item .facilities-info .icon img {
  width: 60px;
  transition: all 0.6s;
}

/* Milestorne */

#milestone {
  background: linear-gradient(rgb(36 144 235 / 85%), rgb(36 144 235 / 85%)),
    url(../images/about-img-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 4.6rem 0;
}
#milestone h1 {
  font-family: var(--title-fonts);
  font-weight: 500;
}
#milestone h1,
#milestone p {
  color: #fff;
}

/* === Our Team === */
#our-team {
  padding: 4.6rem;
}
/* Header Section  */
#our-team .header-sec {
  text-align: center;
  padding: 2rem;
}
#our-team .header-sec span.sub-title {
  letter-spacing: 0.04em;
  font-family: var(--title-fonts);
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  position: relative;
  text-transform: uppercase;
  color: var(--primary-color);
  background: #d3e9fb;
  padding: 4px 8px;
  margin: 0 0 10px;
}
#our-team .header-sec h5.title {
  font-weight: 600;
  font-size: 42px;
  line-height: 56px;
  z-index: 9;
  color: var(--dark-color);
  padding: 0;
  margin: 0 0;
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
}
#our-team .item .inner-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.35s ease;
  overflow: hidden;
  position: relative;
}
#our-team .item .inner-item .social_media {
  position: absolute;
  top: -155px;
  right: 25px;
  background-color: var(--primary-color);
  transition: all 0.35s ease-in-out;
}
#our-team .item .inner-item:hover .social_media {
  top: 0px;
}
#our-team .item .inner-item .social_media ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin: 0px;
}
#our-team .item .inner-item .social_media ul a {
  color: var(--white-color);
  padding: 16px;
  display: flex;
  transition: all 0.35s ease;
}
#our-team .item .inner-item .social_media ul a:hover {
  background-color: #000;
}
#our-team .item .inner-item img {
  width: 100%;
  height: 100%;
  max-height: 472px;
  min-height: 472px;
  object-fit: contain;
  object-position: 50% center;
}
#our-team .item .inner-item .inner-text {
  width: 80%;
  background-color: #fff;
  padding: 25px 10px;
  position: relative;
  border-radius: 5px;
  transform: translateY(-30px);
  -moz-transform: translate(-30px);
  -webkit-transform: translate(-30px);
  -o-transform: translate(-30px);
  -ms-transform: translate(-30px);
  transform: translateY(-30px);
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 30px 0 rgb(0 20 9 / 10%);
  -moz-box-shadow: 0px 0px 30px 0 rgba(0, 20, 9, 0.1);
  box-shadow: 0px 0px 30px 0 rgb(0 20 9 / 10%);
}
#our-team .item .inner-item .inner-text h4 {
  font-size: 1.2rem;
}
#our-team .item .inner-item .inner-text h5 {
  color: var(--primary-color);
  font-size: 1rem;
}

/* Hover */
#our-team .item .inner-item:hover .inner-text {
  transform: translateY(-60px);
  -moz-transform: translate(-60px);
  -webkit-transform: translate(-60px);
  -o-transform: translate(-60px);
  -ms-transform: translate(-60px);
  transform: translateY(-60px);
}

/* owl control */
#our-team .owl-nav {
  display: none;
}
#our-team .owl-dots button.owl-dot span {
  width: 30px;
  height: 3px;
}
#our-team .owl-dots button.active span {
  background-color: var(--primary-color);
}
/* === our-team item === */

/* === Our Services === */
#our-services {
  padding: 4.6rem;
  background: #fff;
}
#our-services .header-sec {
  text-align: center;
  padding: 2rem;
  margin-bottom: 3rem;
}
#our-services .header-sec span.sub-title {
  letter-spacing: 0.04em;
  font-family: var(--title-fonts);
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  position: relative;
  text-transform: uppercase;
  color: var(--primary-color);
  background: #d3e9fb;
  padding: 4px 8px;
  margin: 0 0 10px;
}
#our-services .header-sec h5.title {
  font-weight: 600;
  font-size: 42px;
  line-height: 56px;
  z-index: 9;
  color: var(--dark-color);
  padding: 0;
  margin: 0 0;
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
}

/*  */
#our-services .our_services {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#our-services .our_services .our_service_item {
  max-width: 320px;
  min-width: 200px;
  text-align: center;
  border-bottom: 1px solid #f1f1f1;
  border-right: 1px solid #f1f1f1;
  padding: 45px 15px;
  margin-top: 0px;
  transition: transform 0.8s;
}
#our-services .our_services .our_service_item:nth-child(4),
#our-services .our_services .our_service_item:nth-child(8) {
  border-right: none;
}
#our-services .our_services .our_service_item:nth-child(5),
#our-services .our_services .our_service_item:nth-child(6),
#our-services .our_services .our_service_item:nth-child(7),
#our-services .our_services .our_service_item:nth-child(8) {
  border-bottom: none;
}
#our-services .our_services .our_service_item:hover img {
  transform: rotateY(180deg);
}

#our-services .our_services .our_service_item img {
  width: 100px;
  margin-bottom: 30px;
  transition: transform 0.8s;
}
#our-services .our_services .our_service_item h5 {
  font-weight: 600;
  font-family: var(--title-fonts);
  color: var(--dark-color);
  font-size: 1.5rem;
  margin-bottom: 10px;
}
#our-services .our_services .our_service_item p {
  color: var(--secondary-color);
}
#our-services .our_services .our_service_item a {
  display: inline-block;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.86rem;
  color: var(--primary-color);
  transition: transform 0.8s;
}
#our-services .our_services .our_service_item a:hover {
  color: var(--dark-color);
}
#our-services .view-all {
  text-align: center;
  margin-top: 50px;
}
#our-services .view-all a {
  text-transform: uppercase;
  color: var(--primary-color);
  font-size: 0.86rem;
  font-weight: 600;
  transition: transform 0.8s;
}
#our-services .view-all a:hover {
  color: var(--dark-color);
}
/* === Portfolio === */
#portfolio {
  padding: 4.6rem 0px 0px;
  background-color: var(--primary-color);
}
#portfolio .header-sec {
  text-align: center;
  padding: 2rem;
  margin-bottom: 3rem;
}
#portfolio .header-sec span.sub-title {
  letter-spacing: 0.04em;
  font-family: var(--title-fonts);
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  position: relative;
  text-transform: uppercase;
  color: var(--dark-color);
  background: #d3e9fb;
  padding: 4px 8px;
  margin: 0 0 10px;
}
#portfolio .header-sec h5.title {
  font-weight: 600;
  font-size: 42px;
  line-height: 56px;
  z-index: 9;
  color: var(--grey-color);
  padding: 0;
  margin: 0 0;
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
}

#portfolio .owl-dots button.owl-dot span {
  width: 30px;
  height: 3px;
}
#portfolio .owl-dots button.active span {
  background-color: var(--primary-color);
}

.project {
  position: relative;
  overflow: hidden;
  z-index: 2;
  /* border-left: 10px solid #fff;
  border-right: 10px solid #fff; */
}

.project h6 {
  font-weight: 400;
}

.project h6::before {
  content: "";
  height: 2px;
  width: 30px;
  display: inline-block;
  background: var(--brand);
  vertical-align: middle;
  margin-right: 10px;
}

.project .overlay {
  width: 100%;
  height: 220px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(255, 76, 41, 0) 0%,
    var(--dark) 100%
  );
}

.project .content {
  position: absolute;
  left: 10%;
  bottom: 10%;
}

.project h2,
.project h6 {
  color: #fff;
}

/* === Testimonial ===*/
#testimonial {
  padding: 4.6rem 0px;
  background-color: var(--white-color);
}
#testimonial .header-sec {
  text-align: center;
  padding: 2rem;
  margin-bottom: 3rem;
}
#testimonial .header-sec span.sub-title {
  letter-spacing: 0.04em;
  font-family: var(--title-fonts);
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  position: relative;
  text-transform: uppercase;
  color: var(--primary-color);
  background: #d3e9fb;
  padding: 4px 8px;
  margin: 0 0 10px;
}
#testimonial .header-sec h5.title {
  font-weight: 600;
  font-size: 42px;
  line-height: 56px;
  z-index: 9;
  color: var(--dark-color);
  padding: 0;
  margin: 0 0;
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
}

#testimonial .reviews_item {
  background-color: #f4f6f9;
  padding: 45px;
  border-radius: 3px;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
  position: relative;
}
#testimonial .reviews_item p {
  color: var(--secondary-color);
  line-height: 2.2rem;
}

#testimonial .reviews_item .review_profile {
  display: flex;
  margin-top: 40px;
  align-items: center;
}
#testimonial .reviews_item .review_profile img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 30px;
}
#testimonial .reviews_item .review_profile .review-text h2 {
  font-size: 1.4rem;
  font-family: var(--title-fonts);
  margin-bottom: 4px;
}
#testimonial .reviews_item .review_profile .review-text h5 {
  color: var(--primary-color);
  font-size: 1rem;
  font-family: var(--title-fonts);
  margin-top: 0px;
}
#testimonial .reviews_item .icon {
  position: absolute;
  bottom: 60px;
  right: 50px;
  opacity: 0.1;
  color: var(--primary-color);
}
#testimonial .reviews_item .icon i {
  font-size: 60px;
}

#testimonial .owl-dots button.owl-dot span {
  width: 30px;
  height: 3px;
  display: none;
}
#testimonial .owl-dots button.active span {
  background-color: var(--primary-color);
}

/* === Appointment  */
#appointment {
  position: relative;
  padding: 4.6rem 0;
  /* background: url(../images/bg-img.png); */
}
#appointment .appointment-box {
  background-color: #fff;
  padding: 40px;
  background-color: var(--primary-color);
  position: relative;
}
#appointment .appointment-box::after {
  content: "";
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 100%;
  top: 0;
  display: block;
}
#appointment .appointment-box img {
  position: absolute;
  left: -10px;
  bottom: -1px;
  height: 550px;
}
#appointment .header-sec {
  margin-top: 10px;
  margin-bottom: 30px;
}
#appointment .header-sec span.sub-title {
  letter-spacing: 0.04em;
  font-family: var(--title-fonts);
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  position: relative;
  text-transform: uppercase;
  color: var(--primary-color);
  background: #d3e9fb;
  padding: 4px 8px;
  margin: 0 0 10px;
}
#appointment .header-sec h5.title {
  font-weight: 600;
  font-size: 45px;
  line-height: 56px;
  z-index: 9;
  color: var(--white-color);
  padding: 0;
  margin: 0 0;
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: var(--title-fonts);
}

#appointment .appointment-form .f1 {
  display: flex;
  margin: 10px 0;
}
#appointment .appointment-form .f1 input {
  padding: 12px;
  padding-left: 15px;
  margin: 10px;
  width: 100%;
  background: rgba(255, 255, 255, 0.14);
  border: none;
  border-radius: 3px;
  color: var(--white-color);
}
#appointment .appointment-form .f1 input::placeholder {
  color: var(--white-color);
}
#appointment .appointment-form .f1 input:focus,
#appointment .appointment-form .f1 input:focus-visible {
  box-shadow: none;
  border-color: var(--brand);
  outline: none;
}

#appointment .appointment-form button {
  margin-left: 15px;
  margin-top: 20px;
  background-color: var(--white-color);
  color: #000;
  text-transform: uppercase;
  transition: transform 0.8s;
}
#appointment .appointment-form button:hover {
  border: 1px solid var(--primary-color);
  background-color: #777;
  color: #fff;
}
/* === Footer === */
footer {
  padding: 4.6rem 0 0;
  background-color: var(--primary-dark-color);
  color: #a9a9a9;
}
footer .footer img.footer-logo {
  max-width: 300px;
}
footer .footer .footer-social {
  margin-top: 20px;
}
footer .footer .footer-social ul {
  display: flex;
  list-style: none;
  padding: 0px;
}
footer .footer .footer-social ul li {
  margin: 6px;
}
footer .footer .footer-social ul a {
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.1);
  color: var(--white-color);
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  display: inline-block;
  padding: 0;
}
footer .footer .footer-social ul a:hover {
  background-color: var(--primary-color);
}
footer .footer h2.heading {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: var(--title-fonts);
  margin-bottom: 30px;
  color: #eee;
  text-transform: uppercase;
}
footer .footer ul {
  padding: 0px;
  list-style: none;
}
footer .footer ul li {
  padding: 6px 0;
}
footer .contact-us ul li span {
  margin-left: 10px;
}

footer .facebook-page {
  max-height: 380px;
  /* height: 330px; */
  overflow: hidden;
}
/* === Copyright */
footer .copyright {
  padding: 15px;
  text-align: center;
  color: #eee;
  border-top: 1px solid #2e5785;
  margin-top: 30px;
}
footer .copyright p {
  color: #a9a9a9;
}

/* === Button to Top === */
.to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  opacity: 1;
  transition: opacity 0.8s ease-in;
}

.to-top--hidden {
  opacity: 0;
}
/* === Responsive CSS === */
@media (max-width: 1030px) {
  /* Home CSS */
  .home .home-banner-1,
  .home .home-banner-2 {
    background-position: 65% center;
    min-height: 550px;
  }
  .home .home-banner .home-banner-text {
    transform: translate(-80%, -50%);
  }
  .home .home-banner .home-banner-text {
    position: absolute;
    width: 85%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
/* ============ desktop view ============ */
@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  .navbar .nav-item:hover .nav-link {
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}

/* ============ desktop view .end// ============ */
@media (max-width: 991px) {
  #top_wrap {
    font-size: 0.8rem;
  }
  /* Slider  */
  .slide .inner-slide h5.title {
    font-size: 2rem;
    line-height: 2.4rem;
  }
}
@media (max-width: 767px) {
  #top_wrap {
    display: none;
  }
  /* slide */
  .slide .inner-slide h5.title {
    font-size: 2rem;
    line-height: 2.4rem;
  }
  #header a.navbar-brand img {
    width: 280px;
  }
  #header .navbar-nav {
    display: flex;
    align-items: flex-start;
  }
  /* features */
  #features .service_item {
    width: 100%;
    margin-left: 0px;
  }
  /* About Us */
  #about-us {
    padding: 0px;
  }
  #about-us .about-detail {
    margin-top: 10px;
  }
  /* Facilities */
  #facilities {
    padding: 0px;
  }
  /* Our services */
  #our-services .our_services .our_service_item {
    border: none;
  }
  /* our team  */
  #our-team {
    padding: 0;
  }
  #our-team .inner-text {
    width: 90%;
  }
  /* Portfolio */
  #portfolio {
    padding: 0px;
  }
  #testimonial {
    padding: 0px;
  }
  #appointment {
    padding: 15px 0;
  }
  #appointment .appointment-box {
    padding: 0;
    padding-right: 15px;
    background-color: var(--primary-color);
  }
  #appointment .appointment-form {
    padding: 0px;
    margin: 0px;
  }
  #appointment .appointment-form .f1 {
    display: flex;
    flex-direction: column;
  }

  /* === Header Section === */
  .header-sec h5.title {
    font-size: 1rem;
  }
}

@media (max-width: 330px) {
  #top_wrap {
    display: none;
  }
  /* slide */
  .slide .inner-slide h5.title {
    font-size: 2rem;
    line-height: 2.4rem;
  }
  /* Navabar */
  #header a.navbar-brand img {
    width: 280px;
  }
  #header .navbar-nav {
    display: flex;
    align-items: flex-start;
  }
  /* features */
  #features .service_item {
    width: 100%;
    margin-left: 0px;
  }
  /* About Us */
  #about-us {
    padding: 0px;
  }
  #about-us .about-detail {
    margin-top: 10px;
  }
  /* Facilities */
  #facilities {
    padding: 0px;
  }
}
