@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500&family=Montserrat:wght@100;200;300;400;500;600;700&family=Poppins:wght@100&family=Quicksand:wght@300;400;500;600;700&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #2490eb;
  --primary-dark-color: #14457b;
  --dark-color: #18100f;
  --secondary-color: #666666;
  --grey-color: #f4f6f9;
  --white-color: #ffffff;
  --body-fonts: "Montserrat", sans-serif;
  --title-fonts: "Quicksand", sans-serif;

  --brand: #2490eb;
  --dark: #092032;
  --body: #516171;
  --border: rgba(0, 0, 0, 0.08);
  --shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}
::-moz-selection {
  text-shadow: none;
  background: var(--primary-color);
  color: #fff;
}
::-moz-selection {
  text-shadow: none;
  background: var(--primary-color);
  color: #fff;
}
::selection {
  text-shadow: none;
  background: var(--primary-color);
  color: #fff;
}

body {
  font-family: var(--primary-font);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75rem;
  background: #fff;
  color: var(--text-black);
  overflow-x: hidden;
  font-family: var(--body-fonts);
}

/* Custom CSS */
.text-primary {
  color: var(--primary-color) !important;
}
i.fa-check {
  color: var(--primary-color);
  margin-right: 4px;
}
img {
  max-width: 100%;
}
h1,
h2 {
  font-weight: 600;
  font-family: var(--title-fonts);
}
h3,
h4 {
  font-weight: 600;
  font-family: var(--title-fonts);
}
a,
a:hover {
  text-decoration: none;
}
p {
  margin: 0;
  line-height: 2;
  color: var(--secondary-color);
  font-family: var(--body-fonts);
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  color: var(--secondary-color);
  font-family: var(--body-fonts);
}
ul li {
  line-height: 2;
}
.dark-bg {
  background: #f4f6f9 !important;
}
.btn-default {
  background: var(--primary-color);
  border-color: var(--primary-color);
  padding: 0.8rem 1.5rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--white-color);
  letter-spacing: 0.2px;
  display: inline-block;
  text-transform: uppercase;
}
.btn-default:hover,
.btn-default:focus {
  color: var(--grey-color);
  background: var(--primary-dark-color);
  border-color: var(--primary-dark-color);
  outline: none;
  box-shadow: none;
}

/* ===============================================================
                  Pre Loader 
 ================================================================ */
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 160px;
  height: 160px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ffffff;
  transform: translate(-50%, -50%);
  -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
  z-index: 1001;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;
  -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;

  -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg); /* IE 9 */
    transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg); /* IE 9 */
    transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg); /* IE 9 */
    transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg); /* IE 9 */
    transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
  }
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  z-index: 1000;
  background: var(--primary-color);
  -webkit-transform: translateX(0); /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(0); /* IE 9 */
  transform: translateX(0); /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%); /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(-100%); /* IE 9 */
  transform: translateX(-100%); /* Firefox 16+, IE 10+, Opera */

  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%); /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(100%); /* IE 9 */
  transform: translateX(100%); /* Firefox 16+, IE 10+, Opera */

  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
  visibility: hidden;

  -webkit-transform: translateY(-100%); /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateY(-100%); /* IE 9 */
  transform: translateY(-100%); /* Firefox 16+, IE 10+, Opera */

  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}

/* JavaScript Turned Off */
.no-js #loader-wrapper {
  display: none;
}
/* ===============================================================
                   Pop Up
 ================================================================ */

/* ===============================================================
                  Title  Section
 ================================================================ */
.header-sec span.sub-title {
  letter-spacing: 0.04em;
  font-family: var(--title-fonts);
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  position: relative;
  text-transform: uppercase;
  color: var(--primary-color);
  background: #d3e9fb;
  padding: 4px 8px;
  margin: 0 0 10px;
}
.header-sec h5.title {
  font-weight: 600;
  font-size: 3rem;
  line-height: 56px;
  z-index: 9;
  color: var(--dark-color);
  padding: 0;
  margin: 0 0;
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: var(--title-fonts);
}

/* ===============================================
                  Top Wrap 
 ================================================= */
#top_wrap {
  background-color: var(--primary-dark-color);
  color: var(--grey-color);
  font-size: 14px;
}
#top_wrap ul {
  display: flex;
  margin: 0;
  list-style: none;
  padding: 0;
}
#top_wrap ul a {
  text-decoration: none;
  color: var(--white-color);
  font-family: var(--title-fonts);
  font-weight: 600;
}
#top_wrap .top_contact ul li {
  padding: 10px 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}
#top_wrap .top_contact ul li:last-child {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
#top_wrap .top_social ul {
  display: flex;
  justify-content: end;
  align-items: center;
}
#top_wrap .top_social ul li {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
#top_wrap .top_social ul li:last-child {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
#top_wrap .top_social ul li a {
  padding: 10px 20px;
  transition: all 0.5s;
}
#top_wrap .top_social ul li a:hover {
  color: var(--grey-color);
  background-color: var(--primary-color);
}

/* ===============================================
              Header
 ================================================= */
#header {
  background-color: var(--white-color);
}
.fixed-top {
  top: -40px;
  transform: translateY(40px);
  transition: transform 0.3s;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 15px 0px rgb(0 33 85 / 10%);
  -moz-box-shadow: 0px 5px 15px 0px rgba(0, 33, 85, 0.1);
  box-shadow: 0px 5px 15px 0px rgb(0 33 85 / 10%);
  z-index: 100;
}
#header .navbar-brand img {
  max-width: 350px;
}
#header .nav-item a.btn{
  color: #fff !important;
  padding: 16px 30px;
}
#header .nav-item a.btn i{
  padding-left: 4px;
  font-size: .8rem;
}
#header .navbar-nav {
  display: flex;
  align-items: center;
}
#header .nav-item .btn-default {
  transition: 0.5s all;
  position: relative;
  width: auto;
  background: var(--primary-color);
  color: var(--white-color);
  letter-spacing: 0.04em;
  font-family: var(--title-fonts);
  font-size: 14px;
  font-weight: 600;
  padding: 12px 30px;
  text-transform: uppercase;
  line-height: 2;
  vertical-align: middle;
  border: none;
  display: inline-block;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#header .nav-item .btn a {
  color: #fff;
}
#header .nav-item .btn:hover {
  background: #000;
  color: #fff;
  border: none;
}
#header .nav-item {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  color: var(--dark-color);
  font-weight: 400;
  font-family: var(--title-fonts);
}
#header .dropdown-item {
  padding: 10px 16px;
  font-weight: 500;
}
#header .dropdown-item:focus,
.dropdown-item:hover {
  color: var(--grey-color);
  background-color: var(--primary-color);
}
#header .navbar-nav .nav-item .nav-link {
  color: #18100f;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 22px;
  font-family: var(--title-fonts);
  cursor: pointer;
}
#header .navbar-nav .nav-item .nav-link:hover,
#header .navbar-nav .nav-item .nav-link.active {
  color: var(--primary-color);
}
#header .navbar-toggler-icon {
  width: unset;
  height: unset;
  color: var(--primary-color);
  font-size: 1.6rem;
}
#header .navbar-toggler:focus {
  box-shadow: none;
}
/* === Search Box === */
#header .navbar .search-dropdown .dropdown-menu {
  width: 800px !important;
  padding: 20px;
  left: auto;
  right: 0;
  font-size: 14px;
}
#header .navbar .search-dropdown span {
  cursor: pointer;
}
#header .nav-item.dropdown.search-dropdown {
  width: 30px;
  height: 30px;
}
#header .search-dropdown .dropdown-menu.show {
  width: 400px !important;
  right: 0 !important;
  margin-top: -4px;
}
#header .search-box {
  width: 100%;
  position: relative;
  padding: 8px;
}
#header .navbar .navbar-nav.show > a,
#header .navbar .navbar-nav > a.active {
  color: #eb5844 !important;
  background: transparent !important;
}
#header .search-box input {
  border-color: #dfe3e8;
  box-shadow: none;
  padding: 10px;
}
#header .search-box input,
#header .search-box .btn {
  min-height: 48px;
  border-radius: 2px;
}
#header .search-box .btn {
  padding: 0px 20px;
}
.input-group-append .btn,
.input-group-append .btn:active {
  border-color: var(--primary-dark-color);
  background: var(--primary-dark-color) !important;
}
.navbar .nav-item i {
  font-size: 18px;
  line-height: 16px;
}
.navbar .search-dropdown .dropdown-toggle::after {
  display: none;
}
.search-box input:hover,
.search-box .btn:hover,
.search-box .btn:focus,
.search-box input:focus {
  box-shadow: none;
  outline: none;
}
/* Dropdown */
#header .dropdown-menu {
  border: none;
  border-radius: 0px;
  padding-top: 28px;
  padding-bottom: 0px;
}

/* ===============================================
              Home Section
 ================================================= */

.hero-slider .owl-prev,
.hero-slider .owl-next {
  background-color: rgba(255, 255, 255, 0.5) !important;
  width: 50px !important;
  height: 50px !important;
  display: block;
  display: grid;
  place-items: center;
  color: #fff !important;
  border-radius: 100px;
  line-height: 0;
  border-radius: 0px !important;
  position: absolute;
  top: 50%;
  font-weight: 600 !important;
  font-size: 32px !important;
  transition: all 0.4s ease;
  margin-top: -30px !important;
}
.owl-prev {
  left: 0%;
}
.owl-next {
  right: 0%;
}
.hero-slider .owl-prev:hover,
.hero-slider .owl-next:hover {
  background-color: var(--brand) !important;
}
.owl-dot.active span {
  background-color: var(--brand) !important;
}

/* slide */
.slide {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.slide1 {
  background: linear-gradient(to right, rgba(255 255 255), rgba(0, 0, 0, 0)),
    url(../images/slider/bg_banner1.jpg);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}
.slide2 {
  background: linear-gradient(to right, rgba(255 255 255), rgba(0, 0, 0, 0)),
    url(../images/slider/bg_banner2.jpg);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

.slide .display-3 {
  text-transform: uppercase;
  color: #fff;
}

/* === Inner Slider === */
.slide .inner-slide span.sub-title {
  letter-spacing: 0.04em;
  font-family: var(--title-fonts);
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  position: relative;
  text-transform: uppercase;
  color: var(--primary-color);
  background: #d3e9fb;
  padding: 4px 8px;
  margin: 0 0 10px;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInDown;
  animation-delay: 0.3s;
}
.slide .inner-slide h5.title {
  font-weight: 600;
  font-size: 3.8rem;
  line-height: 74px;
  z-index: 9;
  color: var(--dark-color);
  padding: 0;
  margin: 0 0;
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: var(--title-fonts);
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInDown;
  animation-delay: 0.3s;
}
.slide .inner-slide p {
  font-weight: 500;
  color: var(--secondary-color);
  line-height: 2rem;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInUp;
  animation-delay: 0.3s;
}
.slide .inner-slide a.mybtn {
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
  color: #fff;
  margin-top: 26px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 3px;
  transition: 0.5s all;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInUp;
  animation-delay: 0.3s;
}
.slide .inner-slide a.mybtn i {
  margin-left: 5px;
}
.slide .inner-slide a.mybtn:hover {
  background-color: var(--primary-dark-color);
  border: 1px solid var(--primary-dark-color);
}

/* ===============================================
              Services Section
 ================================================= */

#features {
  position: relative;
  width: 100%;
  z-index: 1;
  background: #f4f6f9;
 
}
#features::before {
  content: "";
  width: 100%;
  background: #f4f6f9;
  top: -10px;
  position: absolute;
  height: 20px;
}
#features .features {
  position: relative;
  top: -75px;
  width: 100%;
}
#features .service_item {
  background-color: var(--primary-color);
  color: var(--grey-color);
  width: 100%;
  height: 100%;
  padding: 2rem;
  margin: 0 15px;
  position: relative;
  border-radius: 5px;
  transition: 0.6s ease-in-out;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInUp;
  animation-delay: 0.3s;
}
#features .service_item:hover .bg_icon {
  right: 15px;
}
#features .active {
  background-color: var(--primary-dark-color);
  color: var(--grey-color);
}
#features .service_item .icon {
  margin-bottom: 2rem;
  opacity: 0.8;
}
#features .service_item .icon img {
  max-width: 95px;
  margin-top: 10px;
}
#features .service_item .bg_icon {
  position: absolute;
  top: 20px;
  right: 0px;
  opacity: 0.3;
  transition: 0.6s ease-in-out;
}
#features .service_item .bg_icon img {
  max-width: 90px;
}
#features .service_item h2.title {
  font-size: 1.7rem;
  margin-bottom: 15px;
  color: var(--white-color);
  font-family: var(--title-fonts);
  font-weight: 600;
  letter-spacing: 0.1px;
}
#features .service_item p {
  font-size: 1rem;
  margin-bottom: 15px;
  line-height: 2rem;
  color: var(--grey-color);
}
#features .service_item .phone {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
#features .service_item .phone i {
  width: 45px;
  height: 45px;
  background-color: #fff;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  border-radius: 50%;
  padding: 6px;
  font-size: 1.1rem;
}
#features .service_item .phone span {
  font-size: 1.6rem;
  font-weight: 600;
  font-family: var(--title-fonts);
}
#features .service_item a.btn {
  text-transform: uppercase;
  transition: 0.5s ease-in-out;
}
#features .service_item a.btn:hover {
  background-color: #000;
  border: 1px solid #000;
}
#features table {
  width: 100%;
}
#features table tr {
  border-bottom: 1px solid #ffffff29;
}
#features table tr td {
  padding: 6px;
}
#features table tr td:last-child {
  text-align: right;
}

/* ===============================================
              About Us Section
 ================================================= */
#about-us {
  position: relative;
  padding: 4.6rem;
  background: #f4f6f9;
}
#about-us .about-detail {
  padding-left: 30px;
}
#about-us .about-detail span.sub-title {
  letter-spacing: 0.04em;
  font-family: var(--title-fonts);
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  position: relative;
  text-transform: uppercase;
  color: var(--primary-color);
  background: #d3e9fb;
  padding: 4px 8px;
  margin: 0 0 10px;
}
#about-us .about-detail h5.title {
  font-weight: 600;
  font-size: 42px;
  line-height: 56px;
  z-index: 9;
  color: var(--dark-color);
  padding: 0;
  margin: 0 0;
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
}
#about-us .about-detail p {
  color: var(--secondary-color);
}
#about-us .about-detail ul {
  margin-top: 40px;
  color: #000;
  list-style: none;
  padding: 0;
}
#about-us .about-detail ul li {
  line-height: 45px;
  font-weight: 600;
  color: var(--secondary-color);
}
#about-us .about-detail ul li i {
  color: var(--primary-color);
  margin-right: 4px;
  width: 20px;
  height: 20px;
}
/* =====================================================
                Facilities 
======================================================== */
#facilities {
  padding: 4.6rem;
  background-color: var(--white-color);
}
#facilities .header-sec {
  text-align: center;
  padding: 3rem;
}
#facilities .header-sec span.sub-title {
  letter-spacing: 0.04em;
  font-family: var(--title-fonts);
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  position: relative;
  text-transform: uppercase;
  color: var(--primary-color);
  background: #d3e9fb;
  padding: 4px 8px;
  margin: 0 0 10px;
}
#facilities .header-sec h5.title {
  font-weight: 600;
  font-size: 42px;
  line-height: 56px;
  z-index: 9;
  color: var(--dark-color);
  padding: 0;
  margin: 0 0;
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
}
#facilities .facilities_item {
  background-color: #f4f6f9;
  padding: 25px;
  overflow: hidden;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}
#facilities .facilities_item .facilities_img {
  width: 100%;
  height: 366px;
  overflow: hidden;
  border-radius: 3px;
}
#facilities .facilities_item .facilities_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  transition: all 0.6s;
}
#facilities .facilities_item:hover .facilities_img img {
  transform: scale(1.1);
}
#facilities .facilities_item:hover .icon img {
  transform: rotateY(180deg);
}
#facilities .facilities_item .facilities-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
#facilities .facilities_item .facilities-info .info-text {
  margin-top: 20px;
}
#facilities .facilities_item .facilities-info .info-text span.sub-title {
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.9rem;
}
#facilities .facilities_item .facilities-info .info-text a {
  color: #000;
}
#facilities .facilities_item .facilities-info .info-text a h5.facilities-title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 6px;
}

/* icon */
#facilities .facilities_item .facilities-info .icon {
  font-size: 2rem;
  color: var(--primary-color);
}
#facilities .facilities_item .facilities-info .icon img {
  width: 60px;
  transition: all 0.6s;
}

/* ==================================================
    Home Sectin Two 
 ==================================================== */
#about_two {
  position: relative;
  padding: 5.6rem 0;
  z-index: 1;
}
#about_two::before {
  content: "";
  position: absolute;
  left: 0%;
  top: 0;
  width: 50%;
  height: 100%;
  background: #d3e9fb;
  z-index: -1;
}
#about_two::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: var(--primary-dark-color);
  z-index: -1;
}
#about_two .header-sec span.sub-title {
  letter-spacing: 0.04em;
  font-family: var(--title-fonts);
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  position: relative;
  text-transform: uppercase;
  color: var(--primary-color);
  background: #fff;
  padding: 4px 8px;
  margin: 0 0 10px;
}
#about_two .header-sec h5.title {
  font-weight: 600;
  font-size: 3rem;
  line-height: 56px;
  z-index: 9;
  color: var(--dark-color);
  padding: 0;
  margin: 0 0;
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: var(--title-fonts);
}
#about_two .about_two_body p {
  color: var(--secondary-color);
  line-height: 2rem;
  margin-top: 15px;
}
#about_two .about_two_body .btn {
  margin-top: 30px;
}
/* Milestorne */
#about_two .milestone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--grey-color);
  height: 100%;
}
#about_two .milestone .milestone_item {
  text-align: center;
  padding: 30px 0;
}
#about_two .milestone .milestone_item h2 {
  font-family: var(--title-fonts);
  font-size: 2.6rem;
  font-weight: 700;
  text-shadow: -2px -28px 4px rgba(150, 150, 149, 0.16);
}
#about_two .milestone .milestone_item h5 {
  font-size: 0.9rem;
  text-transform: uppercase;
}

/* ===============================================
              Our Team Section
 ================================================= */
#our-team {
  padding: 4rem;
  background: #f4f6f9;
}
/* Header Section  */
#our-team .header-sec {
  text-align: center;
  padding: 1rem;
}
#our-team .header-sec span.sub-title {
  letter-spacing: 0.04em;
  font-family: var(--title-fonts);
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  position: relative;
  text-transform: uppercase;
  color: var(--primary-color);
  background: #d3e9fb;
  padding: 4px 8px;
  margin: 0 0 10px;
}
#our-team .header-sec h5.title {
  font-weight: 600;
  font-size: 42px;
  line-height: 56px;
  z-index: 9;
  color: var(--dark-color);
  padding: 0;
  margin: 0 0;
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: var(--title-fonts);
}
#our-team .item .inner-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.35s ease;
  overflow: hidden;
  position: relative;
  margin: 8px;
}
#our-team .item .inner-item .social_media {
  position: absolute;
  top: -175px;
  right: 25px;
  background-color: var(--primary-color);
  transition: all 0.35s ease-in-out;
}
#our-team .item .inner-item:hover .social_media {
  top: 0px;
}
#our-team .item .inner-item .social_media ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin: 0px;
}
#our-team .item .inner-item .social_media ul a {
  color: var(--white-color);
  padding: 18px;
  display: flex;
  transition: all 0.35s ease;
}
#our-team .item .inner-item .social_media ul a:hover {
  background-color: #000;
}
#our-team .item .inner-item img {
  width: 100%;
  height: 100%;
  max-height: 600px;
  min-height: 480px;
  object-fit: contain;
  object-position: 50% center;
}
#our-team .item .inner-item .inner-text {
  width: 85%;
  background-color: #fff;
  padding: 25px 10px;
  position: relative;
  border-radius: 5px;
  transform: translateY(-40px);
  -moz-transform: translate(-40px);
  -webkit-transform: translate(-40px);
  -o-transform: translate(-40px);
  -ms-transform: translate(-40px);
  transform: translateY(-40px);
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 30px 0 rgb(0 20 9 / 10%);
  -moz-box-shadow: 0px 0px 30px 0 rgba(0, 20, 9, 0.1);
  box-shadow: 0px 0px 30px 0 rgb(0 20 9 / 10%);
}
#our-team .item .inner-item .inner-text a {
  color: var(--dark-color);
}
#our-team .item .inner-item .inner-text h4 {
  font-size: 1.2rem;
  font-family: var(--title-fonts);
  font-weight: 600;
}
#our-team .item .inner-item .inner-text h5 {
  color: var(--primary-color);
  font-size: 1rem;
  font-family: var(--body-fonts);
  margin-bottom: 5px;
}
#our-team .item .inner-item .inner-text span.nmc-no {
  color: var(--secondary-color);
  font-size: 0.88rem;
  font-family: var(--body-fonts);
  padding: 0px;
  margin: 0px;
}
/* Hover */
#our-team .item .inner-item:hover .inner-text {
  transform: translateY(-70px);
  -moz-transform: translate(-70px);
  -webkit-transform: translate(-70px);
  -o-transform: translate(-70px);
  -ms-transform: translate(-70px);
  transform: translateY(-70px);
}
#our-team .item .inner-item .inner-text a:hover {
  color: var(--primary-color);
}
/* owl control */
#our-team .owl-nav {
  display: none;
}
#our-team .owl-dots button.owl-dot span {
  width: 30px;
  height: 3px;
}
#our-team .owl-dots button.active span {
  background-color: var(--primary-color);
}
/* === our-team item === */

/* =================================================
      Our Services 
 =================================================== */
#our-services {
  padding: 4.6rem;
  background: #fff;
}
#our-services .header-sec {
  text-align: center;
  padding: 2rem;
  margin-bottom: 3rem;
}
#our-services .header-sec span.sub-title {
  letter-spacing: 0.04em;
  font-family: var(--title-fonts);
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  position: relative;
  text-transform: uppercase;
  color: var(--primary-color);
  background: #d3e9fb;
  padding: 4px 8px;
  margin: 0 0 10px;
}
#our-services .header-sec h5.title {
  font-weight: 600;
  font-size: 42px;
  line-height: 56px;
  z-index: 9;
  color: var(--dark-color);
  padding: 0;
  margin: 0 0;
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
}
.our_services .our_service_inner {
  padding: 45px 30px;
  margin: 5px;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
  width: 100%;
  min-height: 400px;
  transition: transform 0.9s;
  transform-style: preserve-3d;
  perspective: 100rem;
  position: relative;
  -webkit-transition: transform 0.9s;
  -moz-transition: transform 0.9s;
  -ms-transition: transform 0.9s;
  -o-transition: transform 0.9s;
}
.our_services .our_service_inner .card__side {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: var(--shadow);
  transition: all 800ms ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: 45px 30px;
}
.card__side--front {
  background: var(--white-color);
  box-shadow: var(--shadow);
}
.card__side--back {
  background: linear-gradient(
      to right,
      rgb(36 144 235 / 92%),
      rgb(36 144 235 / 92%)
    ),
    url(../images/bg1.jpg);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  display: none;
}
.our_service_inner:hover .card__side--front {
  transform: rotateY(-180deg);
  display: none;
}
.our_service_inner:hover .card__side--back {
  transform: rotateY(0);
  display: block;
}
.our_services .our_service_inner:hover h5,
.our_services .our_service_inner:hover a {
  color: var(--white-color);
}
.our_services .our_service_inner:hover p {
  color: var(--grey-color);
}
.our_services .our_service_inner .icon-area {
  width: 85px;
  height: 85px;
  overflow: hidden;
  position: relative;
}
.our_services .our_service_inner .icon-area img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
.our_services .our_service_inner .icon-area img.icon-front {
  z-index: 2;
  position: absolute;
  backface-visibility: hidden;
}
.our_services .our_service_inner .icon-area img.icon-back {
  position: absolute;
  z-index: 1;
  transform: rotateY(180deg);
}

.our_service_inner .inner-text {
  position: relative;
}
.our_services .our_service_inner h5 {
  margin-top: 30px;
  font-size: 1.5rem;
  font-weight: 600 !important;
  font-family: var(--title-fonts);
}
.our_services .our_service_inner p {
  color: var(--secondary-color);
  font-family: var(--body-fonts);
  margin-top: 16px;
  line-height: 32px;
}
.our_services .our_service_inner a {
  display: inline-block;
  margin-top: 30px;
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: 0.82rem;
  font-weight: 600;
  letter-spacing: 0.1px;
  font-family: var(--body-fonts);
}

/* =============================================== 
    Portfolio 
================================================== */
#portfolio {
  padding: 4.6rem 0px;
  background-color: var(--white-color);
  position: relative;
}
#portfolio::after {
  width: 100%;
  position: absolute;
  height: 500px;
  content: "";
  background: url(../images/bg-contact.png) no-repeat center;
  top: 0;
  background-size: 80%;
  background-position-x: center;
  opacity: 0.1;
}
#portfolio::before {
  content: "";
  width: 100%;
  height: 600px;
  min-height: 700px;
  max-height: 800px;
  background-color: var(--primary-color);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}
#portfolio .header-sec {
  text-align: center;
  padding: 2rem;
  margin-bottom: 3rem;
}
#portfolio .header-sec span.sub-title {
  letter-spacing: 0.04em;
  font-family: var(--title-fonts);
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  position: relative;
  text-transform: uppercase;
  color: var(--dark-color);
  background: #d3e9fb;
  padding: 4px 8px;
  margin: 0 0 10px;
}
#portfolio .header-sec h5.title {
  font-weight: 600;
  font-size: 42px;
  line-height: 56px;
  z-index: 9;
  color: var(--grey-color);
  padding: 0;
  margin: 0 0;
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
}

#portfolio .owl-dots button.owl-dot span {
  width: 30px;
  height: 3px;
}
#portfolio .owl-dots button.active span {
  background-color: var(--primary-color);
}

.project {
  position: relative;
  overflow: hidden;
  z-index: 2;
  margin: 20px;
  transition: all 0.6s ease;
  box-shadow: rgb(0 33 85 / 16%) 0px 5px 15px 0px;
}
.project .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: 1;
  background-color: var(--primary-color);
}
.project img {
  width: 100%;
  height: 510px;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
  transition: transform 0.5s, filter 1.5s ease-in-out;
  filter: grayscale(0%);
  overflow: hidden;
  box-shadow: var(--shadow);
  /* filter: blur(1px);
  -webkit-filter: blur(1px); */
}
.project a.plush {
  position: absolute;
  top: 30px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: var(--grey-color);
  background-color: var(--primary-color);
  transition: all 0.6s ease;
  visibility: hidden;
  border-radius: 2px;
  opacity: 0;
  cursor: pointer;
}
/* Hover */
.project:hover img {
  transform: scale(1.1);
  filter: grayscale(0);
}
.project a.plush:hover {
  background-color: #000;
}
.project:hover .content {
  bottom: 25px;
  opacity: 1;
}
.project:hover a.plush {
  visibility: visible;
  opacity: 1;
  z-index: 2;
}
.project a.plush:hover {
  background: var(--dark-color);
}

/* Content  */
.project .content {
  position: absolute;
  bottom: -400px;
  background-color: var(--white-color);
  width: 90%;
  left: 5%;
  border-radius: 5px;
  padding: 30px 15px;
  transition: all 0.6s ease;
  z-index: 2;
  opacity: 0.1;
}

.project .content a {
  color: #000;
  transition: all 0.6s ease;
}
.project .content a:hover {
  color: var(--primary-color);
}
.project .content h2 {
  font-size: 1.1rem;
  font-weight: 600;
}
.project .content h6 {
  color: var(--primary-color);
  margin-top: 10px;
  font-size: 0.9rem;
}
/* =========================================================
     Our Step 
  ========================================================== */
#our-step {
  padding-bottom: 4.6rem;
  background: url(../images/bg-step.png) no-repeat center 25%;
  position: relative;
  /* z-index: 100; */
}
#our-step::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  z-index: -1;
}
#our-step .header-sec {
  text-align: center;

  margin-bottom: 3rem;
}
#our-step .header-sec span.sub-title {
  letter-spacing: 0.04em;
  font-family: var(--title-fonts);
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  position: relative;
  text-transform: uppercase;
  color: var(--primary-color);
  background: #d3e9fb;
  padding: 4px 8px;
  margin: 0 0 10px;
}
#our-step .header-sec h5.title {
  font-weight: 600;
  font-size: 42px;
  line-height: 56px;
  z-index: 9;
  color: var(--dark-color);
  padding: 0;
  margin: 0 0;
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: var(--title-fonts);
}
/* === Step === */
#our-step .our-step {
  margin-top: 4.6rem;
}
#our-step .step {
  padding: 15px;
  position: relative;
}
#our-step .step img {
  width: 100%;
  max-width: 200px;
}
#our-step .step-no {
  position: absolute;
  top: 40px;
  left: 0px;
  background: var(--primary-color);
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}
#our-step .step h2 {
  font-size: 1.5rem;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 600;
  font-family: var(--title-fonts);
}
#our-step .step p {
  color: var(--secondary-color);
  padding-right: 18px;
  padding-top: 4px;
}
#our-step .our-step .get-appointment {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}
#our-step .our-step .get-appointment i {
  margin-left: 6px;
}

/* ================================================================                Testimonial 
===================================================================*/
#testimonial {
  padding-bottom: 3rem;
  background-color: var(--white-color);
}
#testimonial .header-sec {
  text-align: center;
  padding: 2rem;
  margin-bottom: 3rem;
}
#testimonial .header-sec span.sub-title {
  letter-spacing: 0.04em;
  font-family: var(--title-fonts);
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  position: relative;
  text-transform: uppercase;
  color: var(--primary-color);
  background: #d3e9fb;
  padding: 4px 8px;
  margin: 0 0 10px;
}
#testimonial .header-sec h5.title {
  font-weight: 600;
  font-size: 42px;
  line-height: 56px;
  z-index: 9;
  color: var(--dark-color);
  padding: 0;
  margin: 0 0;
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: var(--title-fonts);
}
#testimonial .reviews_item {
  background-color: #f4f6f9;
  padding: 45px;
  border-radius: 3px;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
  position: relative;
}
#testimonial .reviews_item p {
  color: var(--secondary-color);
  line-height: 2.2rem;
}
#testimonial .reviews_item .review_profile {
  display: flex;
  margin-top: 40px;
  align-items: center;
}
#testimonial .reviews_item .review_profile img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 30px;
}
#testimonial .reviews_item .review_profile .review-text h2 {
  font-size: 1.4rem;
  font-family: var(--title-fonts);
  margin-bottom: 4px;
}
#testimonial .reviews_item .review_profile .review-text h5 {
  color: var(--primary-color);
  font-size: 1rem;
  font-family: var(--title-fonts);
  margin-top: 0px;
}
#testimonial .reviews_item .icon {
  position: absolute;
  bottom: 60px;
  right: 50px;
  opacity: 0.1;
  color: var(--primary-color);
}
#testimonial .reviews_item .icon i {
  font-size: 60px;
}
#testimonial .owl-dots button.owl-dot span {
  width: 30px;
  height: 3px;
}
#testimonial .owl-dots button.active span {
  background-color: var(--primary-color);
}
/* =========================================================
    Appointment 
  ========================================================== */
#appointment {
  position: relative;
  padding: 4.6rem 0;
  z-index: 9;
}
#appointment::before,
#appointment::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 50%;
}
#appointment::before {
  top: 0;
  background: #f4f6f9;
  z-index: -1;
}
#appointment::after {
  top: 50%;
  background-color: #fff;
  z-index: -1;
}
#appointment .appointment-box {
  background-color: #fff;
  padding: 40px;
  background-color: var(--primary-color);
  position: relative;
}
#appointment .appointment-box::after {
  content: "";
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 100%;
  top: 0;
  display: block;
}
#appointment .appointment-box img {
  position: absolute;
  left: -10px;
  bottom: -1px;
  height: 550px;
}
#appointment .header-sec {
  margin-top: 10px;
  margin-bottom: 30px;
}
#appointment .header-sec span.sub-title {
  letter-spacing: 0.04em;
  font-family: var(--title-fonts);
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  position: relative;
  text-transform: uppercase;
  color: var(--primary-color);
  background: #d3e9fb;
  padding: 4px 8px;
  margin: 0 0 10px;
}
#appointment .header-sec h5.title {
  font-weight: 600;
  font-size: 45px;
  line-height: 56px;
  z-index: 9;
  color: var(--white-color);
  padding: 0;
  margin: 0 0;
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: var(--title-fonts);
}
#appointment .appointment-form .f1 {
  display: flex;
  margin: 10px 0;
}
#appointment .appointment-form .f1 input {
  padding: 12px;
  padding-left: 15px;
  margin: 10px;
  width: 100%;
  background: rgba(255, 255, 255, 0.14);
  border: none;
  border-radius: 3px;
  color: var(--white-color);
}
#appointment .appointment-form .f1 input::placeholder {
  color: var(--white-color);
}
#appointment .appointment-form .f1 input:focus,
#appointment .appointment-form .f1 input:focus-visible {
  box-shadow: none;
  border-color: var(--brand);
  outline: none;
}
#appointment .appointment-form button {
  margin-left: 15px;
  margin-top: 20px;
  background-color: var(--white-color);
  color: #000;
  text-transform: uppercase;
  transition: all 0.6s ease;
}
#appointment .appointment-form button:hover {
  border: 1px solid var(--primary-color);
  background-color: #000;
  color: #fff;
}

/* ===========================================================
    Breadcrumb 
  ============================================================ */
#breadcrumb {
  background: var(--grey-color);
  color: #000;
  padding: 100px 0;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-image: url(../images/breadcrumb-image-1.jpg);
  margin-bottom: 0px;
}
#breadcrumb h1.breadcrumb-title {
  font-size: 56px;
  line-height: 64px;
  font-family: var(--title-fonts);
  font-weight: 600;
  color: #18100f;
  letter-spacing: 0.2px;
}
.breadcrumb {
  margin-left: 12px;
  margin-top: 4px;
}
.breadcrumb .breadcrumb-item {
  list-style-type: none;
  margin-right: 15px;
  padding-left: 0;
  letter-spacing: 0.04em;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: var(--title-fonts);
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.breadcrumb .breadcrumb-item a {
  color: #666666;
}
.breadcrumb li i {
  font-size: 0.8rem;
  margin-right: 6px;
}
.breadcrumb li.active {
  color: var(--primary-color);
}

/* ===========================================================
    Page Sectin 
   =========================================================== */
#appointment-page-form {
  padding-top: 4.6rem;
}
.appointment-page-form {
  background: #f4f6f9;
  padding: 45px 45px 45px 45px;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.appointment-page-form label {
  color: #000 !important;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 6px;
}
.appointment-page-form input,
.appointment-page-form select,
.appointment-page-form textarea {
  margin-bottom: 25px;
  background-color: #fff;
  border-radius: 3px;
  margin-bottom: 15px;
  border: 1px solid #fff;
  padding: 12px;
}
.appointment-page-form input:focus,
.appointment-page-form select:focus,
.appointment-page-form textarea:focus {
  box-shadow: none;
}

/* ============================================================
    Contact-us section
  ============================================================ */
#contact-us-sec {
  background: var(--primary-dark-color);
  padding: 5.6rem 0;
  color: #fff;
  position: relative;
  z-index: 2;
}
#contact-us-sec .contact-overly {
  background-image: url(../images/bg-contact.png);
  background-position: center center;
  background-repeat: repeat;
  background-size: 60% auto;
  opacity: 0.1;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
#contact-us-sec h1 {
  font-family: var(--title-fonts);
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.3;
}
#contact-us-sec a:hover {
  background: #000;
}

/* ====================================================
    Page 
====================================================== */
.about-phone {
  font-family: var(--title-fonts);
  font-weight: 700;
  letter-spacing: -1px;
}
#page p {
  font-family: var(--body-fonts);
}
/* ====================================================
    Single Page for Services
====================================================== */
#page {
  padding-top: 130px;
  padding-bottom: 130px;
}

#page .page-sidebar {
  width: 98%;
  background: #f4f6f9;
  height: 400px;
}
#page .page-sidebar ul.service-menu {
  padding: 25px 30px;
}
#page .page-sidebar ul.service-menu li {
  margin: 0 0 10px 0;
}
#page .page-sidebar ul.service-menu li a {
  position: relative;
  background-color: var(--white-color);
  padding: 15px 24px;
  color: var(--dark-color);
  text-transform: capitalize;
  border: none;
  display: block;
  transition: all 0.5s linear;
  -webkit-transition: none;
  font-family: var(--title-fonts);
  font-weight: 500;
  font-size: 16px;
  border-radius: 3px;
}
#page .page-sidebar ul.service-menu li a::before {
  position: absolute;
  content: "\f054";
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  right: 24px;
  left: auto;
  top: 24px;
  color: inherit;
  line-height: normal;
  font-weight: 600;
}
#page .page-sidebar ul.service-menu li a.active {
  color: var(--white-color);
  background: var(--primary-color);
}

/* =========================================================
    Doctor Page 
  ========================================================== */
.doctor-item {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  -webkit-box-shadow: 0px 0px 30px 0 rgb(0 20 9 / 10%);
  -moz-box-shadow: 0px 0px 30px 0 rgba(0, 20, 9, 0.1);
  box-shadow: 0px 0px 30px 0 rgb(0 20 9 / 10%);
  transition: all 0.35s ease-in-out;
}
/* Hover */
.doctor-item:hover .social_link {
  top: 0;
  opacity: 1;
  z-index: 2;
}
.doctor-item:hover {
  cursor: pointer;
  background: var(--primary-color);
}
.doctor-item:hover .inner-text h4,
.doctor-item:hover .inner-text h5,
.doctor-item:hover .inner-text span.nmc-no {
  color: #fff;
}
.doctor-item .social_link {
  position: absolute;
  top: -60px;
  right: 30px;
  background: var(--primary-color);
  opacity: 0;
  z-index: -1;
  transition: all 0.35s ease-in-out;
}
.doctor-item .social_link li a {
  padding: 16px;
  display: flex;
  color: var(--white-color);
  align-items: center;
  transition: all 0.6s ease;
}
.doctor-item .social_link li a:hover {
  background: var(--dark-color);
}
.doctor-item .inner-text {
  padding: 18px;
  position: relative;
}
.doctor-item .inner-text:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  left: 0;
  bottom: 0;
  background: var(--primary-color);
  transition: all 0.3s ease-in-out;
  z-index: -1;
}
.doctor-item .inner-text h4 {
  font-size: 1.2rem;
}
.doctor-item .inner-text h5 {
  font-size: 0.96rem;
  color: var(--primary-color);
  margin-bottom: 2px;
}
.doctor-item .inner-text span.nmc-no {
  font-size: 0.85rem;
  color: var(--secondary-color);
  font-family: var(--body-fonts);
}
/* ===========================================
      Single Doctor
  ============================================ */
.single-doctor .info {
  display: flex;
  align-items: center;
}
.single-doctor-info {
  padding-left: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.single-doctor span.sub-title {
  letter-spacing: 0.04em;
  font-family: var(--title-fonts);
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  position: relative;
  text-transform: uppercase;
  color: var(--primary-color);
  background: #d3e9fb;
  padding: 4px 8px;
  margin: 0 0 10px;
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.single-doctor h5.title {
  font-weight: 500;
  font-size: 38px;
  line-height: 56px;
  z-index: 9;
  color: var(--dark-color);
  padding: 0;
  margin: 0 0;
  position: relative;
  display: block;
}
/* basic info */
.single-doctor .basic-info {
  margin-top: 30px;
  color: var(--dark-color);
}
.basic-info .basic-info-item {
  display: flex;
  padding: 5px 0;
}
.basic-info .basic-info-item .icon {
  margin-right: 15px;
  color: #1d1d1d;
}
.basic-info .basic-info-item .icon i {
  font-size: 20px;
}
.single-doctor .basic-info .basic-info-item h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  font-family: "Jost", Sans-serif;
  color: #616161;
}
.single-doctor .follow-us {
  margin-top: 30px;
}
.single-doctor .follow-us h5 {
  font-size: 1.6rem;
  font-family: var(--title-fonts);
  font-weight: 500;
}
.single-doctor .follow-us ul {
  display: flex;
  margin-top: 10px;
}
.single-doctor .follow-us ul a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  color: #000;
  transition: all 0.6s ease;
}
.single-doctor .follow-us ul a:hover {
  background: var(--primary-color);
  color: var(--white-color);
}
/* Single Doctor appointment  */
.single-doctor-appointment form input {
  width: 47%;
  background: var(--grey-color);
  color: var(----dark-color);
  border: 1px solid var(--grey-color);
  border-radius: 3px;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 400;
  padding: 0 15px;
  height: 54px;
  line-height: 54px;
  outline: none;
}
.single-doctor-appointment form textarea {
  width: 100%;
  height: 160px;
  background: var(--grey-color);
  color: var(----dark-color);
  border: 1px solid var(--grey-color);
  border-radius: 3px;
  font-size: 16px;
  font-weight: 400;
  padding: 0 15px;
}
.single-doctor-appointment form input:nth-child(1),
.single-doctor-appointment form input:nth-child(3) {
  margin-right: 30px;
}
.single-doctor-appointment form input:focus,
.single-doctor-appointment form textarea:focus {
  border: 1px solid var(--primary-color);
  outline: none;
  box-shadow: none;
}
.single-doctor-appointment form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
}

/* ===========================================
    contact Us page 
  ============================================ */
  .contact-page{
    position: relative;
  }
  .contact-page .google-map{
    width: 100%;
    height: 400px;
    /* position: absolute; */
  }
/* ===========================================
      Footer Section  
  ============================================ */
footer {
  padding: 4.6rem 0 0;
  background-color: var(--primary-dark-color);
  color: #cdcccc;
}
footer .footer {
  padding: 0 10px;
  font-family: "Jost", Sans-serif;
}
footer .footer p {
  color: #cdcccc;
  font-family: "Jost", Sans-serif;
}
footer .footer img.footer-logo {
  width: 90%;
}
footer .footer .footer-social {
  margin-top: 20px;
}
footer .footer .footer-social ul {
  display: flex;
  list-style: none;
  padding: 0px;
}
footer .footer .footer-social ul li {
  margin: 6px;
}
footer .footer .footer-social ul a {
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.1);
  color: var(--white-color);
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  display: inline-block;
  padding: 0;
}
footer .footer .footer-social ul a:hover {
  background-color: var(--primary-color);
}
footer .footer h2.heading {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: var(--title-fonts);
  margin-bottom: 30px;
  color: #fff;
  text-transform: uppercase;
}
footer .footer ul {
  padding: 0px;
  list-style: none;
}
footer .footer ul li {
  padding: 6px 0;
  color: #cdcccc;
}
footer .contact-us ul li span {
  margin-left: 10px;
  font-family: "Jost", Sans-serif;
}

/*  Quick Link */
.quick_link ul {
  padding: 0;
}
.quick_link ul li {
  margin-left: 6px;
  padding: 0px;
  line-height: 1.6;
}
.quick_link ul li a {
  text-decoration: none;
  color: #cdcccc;
  font-family: "Jost", Sans-serif;
}
.quick_link ul li a i {
  margin-right: 4px;
  font-size: 0.8rem;
}
.quick_link ul li a:hover {
  color: #fff;
}
/* Recent Post */
.recent_post {
  display: flex;
  margin-bottom: 14px;
}
footer .recent_post img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
}
footer .recent_post .inner_post {
  margin-left: 14px;
}
footer .recent_post .inner_post span.date {
  font-size: 0.8rem;
  font-family: "Jost", Sans-serif;
}
footer .recent_post .inner_post span.date i {
  margin-right: 4px;
}
footer .recent_post .inner_post h4 {
  color: #fff;
  font-size: 1rem;
  font-family: var(--title-fonts);
  font-weight: 600;
}
footer .facebook-page {
  max-height: 380px;
  /* height: 330px; */
  overflow: hidden;
}
/* === Copyright */
footer .copyright {
  padding: 25px;
  text-align: center;
  color: #eee;
  border-top: 1px solid #2e5785;
  margin-top: 30px;
}
footer .copyright p {
  color: #a9a9a9;
}

/* === Back to Top === */
button.backtotop {
  width: 50px;
  height: 50px;
  background: var(--primary-color);
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 100;
  border: 2px solid var(--primary-color);
  color: var(--grey-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  transition: all 0.6s ease;
  display: none;
}
button.backtotop:hover {
  background: #000;
  border: 2px solid #000;
}

/* === Responsive CSS === */
@media (max-width: 1030px) {
  /* Home CSS */
  .home .home-banner-1,
  .home .home-banner-2 {
    background-position: 65% center;
    min-height: 550px;
  }
  .home .home-banner .home-banner-text {
    transform: translate(-80%, -50%);
  }
  .home .home-banner .home-banner-text {
    position: absolute;
    width: 85%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* ============ desktop view .end// ============ */
@media (max-width: 991px) {
  #top_wrap {
    font-size: 0.8rem;
  }
  #header .navbar-nav {
    display: flex;
    align-items: flex-start;
  }
  #header .dropdown-menu {
    padding: 0px;
    background: #fff;
  }
  .dropdown:hover .dropdown-menu {
    display: bloock;
  }
  /* Slider  */
  .slide .inner-slide h5.title {
    font-size: 2rem;
    line-height: 2.4rem;
  }
}
@media (max-width: 767px) {
  #top_wrap {
    display: none;
  }
  .dropdown:hover .dropdown-menu {
    display: bloock;
  }
  /* slide */
  .slide .inner-slide h5.title {
    font-size: 2rem;
    line-height: 2.4rem;
  }
  #header a.navbar-brand img {
    width: 280px;
  }
  #header .navbar-nav {
    display: flex;
    align-items: flex-start;
  }
  /* features */
  #features .service_item {
    width: 100%;
    margin-left: 0px;
  }
  /* About Us */
  #about-us {
    padding: 0px;
  }
  #about-us .about-detail {
    margin-top: 10px;
  }
  /* About Two */
  #about_two::after {
    content: "";
    background: transparent;
  }
  #about_two img {
    margin: 10px 0;
  }
  #about_two .milestone .milestone_item h2 {
    color: #000;
  }
  #about_two .milestone .milestone_item h5 {
    color: var(--secondary-color);
  }
  /* Facilities */
  #facilities {
    padding: 0px;
  }
  /* Our services */
  #our-services {
    padding: 0;
  }

  #our-step {
    background: #fff;
  }
  /* our team  */
  #our-team {
    padding: 0;
  }
  #our-team .inner-text {
    width: 90%;
  }
  /* Portfolio */
  #portfolio {
    padding: 0px;
  }
  #testimonial {
    padding: 0px;
  }
  #appointment {
    /* padding: 35px 0; */
  }
  #appointment .appointment-box {
    padding: 0;
    padding-right: 15px;
    background-color: var(--primary-color);
    padding-bottom: 30px;
    padding-top: 30px;
  }
  #appointment .appointment-box .girl-img {
    display: none;
  }

  #appointment .appointment-form {
    padding: 0px;
    margin: 0px;
  }
  #appointment .appointment-form .f1 {
    display: flex;
    flex-direction: column;
  }

  /* === Header Section === */
  .header-sec h5.title {
    font-size: 1rem;
  }
}

@media (max-width: 330px) {
  #top_wrap {
    display: none;
  }
  /* slide */
  .slide .inner-slide h5.title {
    font-size: 2rem;
    line-height: 2.4rem;
  }
  /* Navabar */
  #header a.navbar-brand img {
    width: 280px;
  }
  #header .navbar-nav {
    display: flex;
    align-items: flex-start;
  }
  /* features */
  #features .service_item {
    width: 100%;
    margin-left: 0px;
  }
  /* About Us */
  #about-us {
    padding: 0px;
  }
  #about-us .about-detail {
    margin-top: 10px;
  }
  /* Facilities */
  #facilities {
    padding: 0px;
  }
}
