* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: #e3e3e3;
    background-color: #0b0b0b;
    font-size: 0.875rem;
    line-height: 1.23;
    font-family: sans-serif;
    position: relative;
    width: 100vw;
    height: 100vh;
}

/* Header */
.header {
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e3e3e3;
}

/* Sidebar */
.toolbar {
    width: 300px;
    height: 45px;
    border: 1px solid #3a3a3a;
    border-radius: 10px;
}
